In [9]:
import pandas as pd

df = pd.DataFrame()
df['course_num'] = [1, 2, 1, 2, 1, 2, 1, 2]
df['semester'] = [1, 1, 2, 2, 3, 3, 4, 4]
df['credits'] = [1, 2, 3, 4, 5, 6, 7, 8]
df['course_code'] = ['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'H']
df['grades'] = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
df_1 = df.pivot(index='semester', columns='course_num', values='course_code').reset_index()

df_2 = df.pivot_table(index='semester', columns='course_num', values='credits', aggfunc='first').reset_index()

df_3 = df.pivot_table(index='semester', columns='course_num', values='grades', aggfunc='first').reset_index()

df_4 = df_1.append(df_2).reset_index(drop=True).append(df_3).reset_index(drop=True).sort_values(by=['semester']).reset_index(drop=True)
df_4['sem_change'] = df_4.semester != df_4.semester.shift()

sem_change_idx = df_4[df_4.sem_change == True].index.values

for idx in sem_change_idx:
    df_4.semester.iloc[idx+1] = 'credits'
    df_4.semester.iloc[idx+2] = 'grades'


df_4 = df_4.set_index('semester')
df_4 = df_4.drop(['sem_change'], axis=1)



df_4

/usr/local/lib/python3.9/site-packages/pandas/core/indexing.py:1636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

course_num   1   2
semester
1           AA  BB
credits      1   2
grades       A   B
2           CC  DD
credits      3   4
grades       C   D
3           EE  FF
credits      5   6
grades       E   F
4           GG   H
credits      7   8
grades       G   H